#Dataset
data/raw/Anthracnose
data/raw/Downy_Mildew
data/raw/Healthy
data/raw/Mosaic_Virus

data/interim

data/processed/Anthracnose
data/processed/Downy_Mildew
data/processed/Healthy
data/processed/Mosaic_Virus

#Weights
models/weights/*.h5
models/weights/*.pth